@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');

    body {
        margin: 0;
        display: flex;
        align-items: center;
        flex-direction: column;

    }

/*Pantalla ordenador Index Principal*/

    /*ZONA HEADER que sera comun tanto en tablet como en ordenador*/

    header {
        display: grid;
        grid-template-columns: 1fr 3fr 2fr;
        width: 100%;
        height: 5em;
        color: white;
        background-color: black;
        position: fixed; 
        top: 0; 
        left: 0;
        z-index: 1000;
        align-items: center;
    }

    .headerTituloYlogo{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

         .logoHeader {
             width: 5em;
             height: 5em;
         }
         
         .tituloHeader {
             font-size: 2em;
             font-family: "Oswald";
             font-weight: 600;
         }

         .tituloHeader a{
                text-decoration: none;
                color: white;
         }


    .linksHeader{
        grid-column-start: 3;
        grid-column-end: 4;
        display: flex;
        justify-content: space-evenly; 
        align-items: center;
        gap: 0.938em; 

    }

         .linksHeader a {
             color: white;
             text-decoration: none;
             font-size: 1rem;
             
         }
         
         .linksHeader a:hover {
             color: #B22222;
             text-decoration: none;
             font-size: 1.1rem;
             
         }


    .buscadorHeader{
        display: flex;
        align-items: center;
    }

        .buscadorHeader input[type="text"] { 
            padding: 0.313em 0.625em;
            font-size: 1rem;
            border-radius: 0.313em;
            border: none;
            outline: none;
        }

    /*estilos comunes en todos los tamaños*/
    /*ZONA FOOTER */

    footer {
        display: grid;
        grid-template-columns: 40% 10% 40%;
        width: 100%;
        height: 3.75em;
        background-color: black;
        align-items: center;
        justify-content: center;
        margin-top: 2em;
    }

        .contenedorLogos{
            display: flex;
            justify-content: space-evenly;
            grid-column-start: 2;
            grid-column-end: 3;
        }

            .logos{
                width: 2.5em;
                height: 2.5em;
            }

            .logos a{
                text-decoration: none;
            }


        /*ZONA SLIDER*/             

        .slider{
            width: 100%;
            height: 12.5em;
            margin-top: 6.5em;
        }

        /*ZONA DE CONTENIDO*/

        .centradoContenido{
            display: flex;
            justify-content: center;
            max-width: 100em;  /*en caso de quitar zoom esto que*/ 
        }
        
            .contenido {
                display: grid;
                grid-template-columns: 1fr 1fr;
                margin-top: 2.5em;
                width: 80%;
                gap: 2em;
            }

                .contenidoDerecha{
                    display: flex;
                    align-items: center;
                }

                .contenidoTitulo{
                    display: flex;
                    justify-content: center;
                    font-size: 2.25em;
                    font-family: "Oswald";
                }

                .contenidoTexto, .contenidoTextoHorarios{
                    font-family: "Roboto", serif;
                    text-align: justify;
                    color: #1C1C1C;
                    font-size: 1.2em;
                }

                .contenidoTextoHorarios{
                    text-align: center;
                }

                .imagenPrincipal1, .imagenPrincipal2, .mapa{
                    width: 100%;
                    max-width: 43.75em;
                }

                /*Hamburguesa oculta de normal*/

                .logoHamburguesa {
                    display: none;
                }
        
                .checkBoxHamburguesa{
                    display: none;
                }

                /*Hamburguesa para tablet y movil*/

               @media screen and (max-width: 768px){


                    .logoHamburguesa{
        
                        display: flex;
                        grid-column-start: 3;
                        grid-column-end: 4;
                        justify-content: right;
                        font-size: 2rem;
                        cursor: pointer;
                        width: 80%;
                        
                    }
        
                    .linksHeader {
                         display: none;
                         grid-column-start: 1;
                         grid-column-end: 4;
                         flex-direction: column;
                         top: 5em;
                         left: 0;
                         background-color: black;
                         width: 100%;
                         z-index: 1001;
                         justify-content: center;
                         padding: 1em;
                    }
        
        
        
                    input[type="checkbox"]:checked ~ .linksHeader {
                        display: flex;
                    }       
        
                    input[type="checkbox"]:checked ~ .linksHeader .buscadorHeader {
                        display: none;
                    }
        
                }



/*Pantalla movil Index Principal*/

@media screen and (max-width: 475px) {
  
        /* footer y slider desaparecen */

        footer{
            display: none;
        }

        .slider{
            display: none;
        }

        #segundoParrafo{
            display: none;
        }

        /*contenido*/

        .centradoContenido{
            display: flex;
            width: 100%;
            justify-content: center;
            margin-bottom: 2em;
            margin-top: 3em;
        }

            .contenido {
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: repeat(6, auto);
                width: 90%;
                gap: 1em;
            }

                .contenidoDerecha{
                    display: flex;
                    align-items: center;
                }

                .contenidoTitulo{
                    display: flex;
                    justify-content: center;
                    font-size: 2em;
                    font-family: "Oswald";
                }

                p{
                    margin: 0.5em;
                }

                .contenidoTexto, .contenidoTextoHorarios{
                    font-family: "Roboto", serif;
                    text-align: justify;
                    color: #1C1C1C;
                    font-size: 1em;
                }

                .contenidoTextoHorarios{
                    text-align: center;
                }

                #contenedorImagen2{
                    
                    grid-row-start: 4;
                    grid-row-end: 5;

                }

                .imagenPrincipal1, .imagenPrincipal2, .mapa{
                    width: 100%;
                    
                }
                .mapa{

                   height: 90%;

                }
              
}

/*tablet Index Principal*/

@media screen and ( min-width: 475px) and  (max-width: 1200px) {

    .centradoContenido{
        display: flex;
        width: 100%;
        justify-content: center;
        margin-bottom: 2em;
    }

        .contenido {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(6, auto);
            width: 90%;
            gap: 1em;
        }

            .contenidoDerecha{
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .contenidoTitulo{
                display: flex;
                justify-content: center;
                font-size: 2em;
                font-family: "Oswald";
            }

            p{
                margin: 0.5em;
            }

            .contenidoTexto, .contenidoTextoHorarios{
                font-family: "Roboto", serif;
                text-align: justify;
                color: #1C1C1C;
                font-size: 1em;
            }

            .contenidoTextoHorarios{
                text-align: center;
            }

            #contenedorImagen2{
                
                grid-row-start: 4;
                grid-row-end: 5;

            }

            .imagenPrincipal1, .imagenPrincipal2, .mapa{
                width: 100%;
                
            }
            .mapa{

               height: 90%;

            }

}


/*pantalla ordenador guantes*/

    .contenedorTituloGuantes{
        display: flex;
        width: 100%;
        justify-content: center;
        margin-top: 7em;
        margin-bottom: 3em;
    }

        .tituloGuantes{
            font-size: 2.2em;
            font-family: "Oswald";
            font-weight: 600;
        }

        
    .contenedorGrande{
        display:  flex;
        width: 100%;
        justify-content: center;
        margin-bottom: 3em;
        
    }
        .contenidoGuantes{

            display: grid;
            width: 90%;
            grid-template-columns: repeat(4, auto);
            
        }

        .producto{
            display: flex;
            flex-direction: column;
            place-items: center;
            text-align: center;

        }

            .producto img {

                   max-width: 12.5em;
                }

                .textoGuantes{
                    width: 80%;
                    text-align: justify;
                    font-family: "Roboto", serif;
                    font-size: 1em;
                }

                .nombreGuantes{
                    font-size: 1.5em;
                    font-family: "Oswald";
                    font-weight: 600;
                }
    
    /*botones de guantes siguiente*/

    .botonesPantalla{
        display: none;
    }




/*pantalla movil guantes*/

@media screen and (max-width: 475px){


    .contenedorGrande{

        display: grid;
        grid-template-columns: 1fr 8fr 1fr;
        align-items: center;
       
    }

        .botonesPantalla{

            display: flex;
            width: 90%;
            height: 20%;
            align-items: center;
            justify-content: center;

        }

        .contenidoGuantes{

            display: grid;
            grid-template-columns: repeat(1, auto);
            width: 100%;
            justify-content: center;

        }

        .contenedorTituloGuantes{

            margin-top: 6.25em;

        }

        .botonesPantalla{
            display: flex;
        }

        #productoOcultar{
            display: none;
        }

}

/*tablet guantes*/

@media screen and ( min-width: 475px) and  (max-width: 1200px){

    .contenidoGuantes{

        grid-template-columns: repeat(2, auto);
        
    }

    .botonesPantalla{
        display: none;
    }

}


/*pantalla ordenador tercer nivel*/

.cuerpoTercerNivel{

    display: grid;
    grid-template-rows: 1fr;   
    place-items: center;
    text-align: center; 
}

.contenidoPrincipalTercerNivel{
    display: grid;
    width: 70%;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    text-align: center;
}

.imagenTercerNivel img{
    width: 80%;
}

.textoTercerNivel{
    font-size: 1.375em;
    color: #1C1C1C;
    font-family: "Roboto";
    text-align: justify;
}

.tituloTercerNivel{
    font-size: 2.25em;
    font-family: "Oswald";
    font-weight: 600;
}

.botonVolver{
    display: flex;
    width: 100%;
    justify-content: right;
}

.botonVolver a{
    text-decoration: none;
    font-size: 1.5em;
    font-family: "Oswald";
    font-weight: 600;
}

.imagenTercerNivelAux{
    display: none;
}

/*necesario para el ordenador*/

@media screen and (min-width: 1200px){

.cuerpoTercerNivel {
  height: 100vh;  
}

}



/*movil ordenador guantes*/
@media screen and (max-width: 475px){

    .imagenTercerNivel{
        display: none;
    }

    .imagenTercerNivelAux{
        display: block;
        width: 100%;
    }

    .imagenTercerNivelAux img{
       width: 80%;
    }

    .cuerpoTercerNivel{
        width: 100%;
        justify-content: center;  
        margin-top: 5em;
    }

    .contenidoPrincipalTercerNivel{
        display: flex;
    }
    
}


/*tablet tercer nivel*/
@media screen and ( min-width: 475px) and  (max-width: 1200px){


    .imagenTercerNivel{
        display: none;
    }

    .imagenTercerNivelAux{
        display: block;
        width: 100%;
    }

    .imagenTercerNivelAux img{
        width: 80%;
     }

     .cuerpoTercerNivel{
        width: 100%;

    }

    .contenidoPrincipalTercerNivel{
        display: flex;
    }

    .cuerpoTercerNivel{
        margin-top: 4em;
    }

}